.elegir-procesador{
    margin-top: 20px;
}
.titulo-elegir-procesador{
    font-size: x-large;
    margin-left: 30px;
    margin-bottom: 30px;
}
.descripcion-elegir-procesador{
    font-size: medium;
    margin-left: 30px;
    margin-bottom: 30px;
}
.procesador{
        width: 100%;
        display: flex;
        padding: 0px;
        margin-left: 20px;
        margin-right: 20px;
}
.amd{
    margin-left: 10px;
    margin-right: 10px;
    width: 920px;
    height: 390px;
}
.intel{
    margin-left: 10px;
    margin-right: 10px;
    width: 920px;
    height: 390px;
}