.miga-de-pan{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 30px;
}
.enlace-home {
    color: black;
    text-decoration: underline;
  }  
.navbar.navbar-expand-md.fixed-top.bg-gradient{
    margin-bottom: 100px;
}
.btn.btn-secondary:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }