/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    /* Modifica los estilos de acuerdo a tus necesidades */
    .elegir-procesador{
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .procesador{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin:auto auto;/*DOS VALORES MODIFICA (TOP Y BOTTOM) SEGUNDO (LEFT Y RIGHT)*/
    }
    .amd{
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 10px;
        width: 90%;
        height: 300px;
    }
    .intel{
        position: relative;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 100px;
        width: 90%;
        height: 300px;
    }
    .accordion{
        width: 100%;
    }
    .aside-productos{
        display: none;
    }
    .d-flex.ayuda{
        display: flex;
        flex-direction: column;
    }
    .form-ayuda{
        border-radius: 3%;
        width: 80%;
        margin-bottom: 50px;/*DOS VALORES MODIFICA (TOP Y BOTTOM) SEGUNDO (LEFT Y RIGHT)*/
        padding: 20px;
        background-color: #808080;
    }
    .mapa-local{
        background-color: #808080;
        width: 80%;
        margin-bottom: 200px;
        border-radius: 3%;
    }
    .mapa{
        border-radius: 3%;
        width: 90%;
        height: 300px;
    }
    .titulo-mapa{
        margin-left: 30px;
        margin-top: 10px;
        font-size: 22px;
    }
    .usuario-email{
        width: 200px;
    }
    .input-nombre{
        width: 200px;
    }
    .contraseña-inicio-de-sesion{
        width: 200px;
    }
    .form-ayuda input{
        width: 300px;
    }
  }