.d-block.w-100.imagenprincipal{ 
    height: 870px;
}
.carousel{
    margin-top: 74px;
    width: 100%;
    height: 870px;
}
.col{
    border: 1px solid transparent;
    .box-with-shadow {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }
}
.btn.btn-secondary:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.album.py-5.bg-body-tertiary{
    margin-bottom: 200px;
}
.titulo-ofertas-destacadas{
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.col{
    width: 350px;
}
.row.row-cols-1.row-cols-md-3.g-4{
    justify-content: center;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}
